.login{
    margin-top: 20px;
    background-color: rgb(220, 233, 246);
    height: 500px;
    width: 400px;
    border-radius: 20px;
}
.container{
margin-top: 10%;
}
.user{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 10%;
}
.input{
    width: 70%;
   
}
.password{
    width: 75%;
}
.button{ margin-left: 40%;
    margin-top: 10%;
}
.forget{
    text-decoration: none;
    cursor: pointer;
    margin-top: 10%;
    margin-right: 60%;
}